<h1>ABOUT US</h1> 
<div class="container-fluid">
   
   <div class="card">
        <div class="card-image"><img src="assets/img/about.jfif" alt="zombie"></div>
        <p class="card-body">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium minus temporibus veniam consequatur,
            impedit laboriosam fuga in. Officiis alias ex esse. Accusantium fugiat neque sapiente consectetur possimus
            quia
            iure harum!</p>
        <p class="footer">Written by <span class="by-name">Tu aliado en el apocalipsis</span> on <span
                class="date">25/05/25</span></p>
    </div>
</div>