<div class="container-fluid">
    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium minus temporibus veniam consequatur,
            impedit laboriosam fuga in. Officiis alias ex esse. Accusantium fugiat neque sapiente consectetur possimus
            quia
            iure harum!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, minima at ut similique magnam ipsa,
            consectetur odio voluptas et voluptates vero molestiae quisquam vel nostrum odit error, aliquam repellendus
            quidem?</p>
    </div>
    <div>
       <img src="assets/img/about.jfif" alt="zombie"> 
    </div>
</div>