img{
    width: 100px;
}
.badge{
    background-color: rgb(245, 176, 0);
    color: black;
}
.clearance{
    background-color:  #6aff6a;
}
input{
    width:30px;
}
.form-group{
    display: flex;
}
td{
    vertical-align: middle;
}
