<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Imágen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{article1.name}}</td>
            <td>{{article1.type}}</td>
            <td>{{article1.price}}</td>
            <td>{{article1.stock}}</td>
            <td><img [src]="article1.image" [alt]="article1.name"></td>
            
        </tr>
        <tr>
            <td>{{article2.name}}</td>
            <td>{{article2.type}}</td>
            <td>{{article2.price}}</td>
            <td>{{article2.stock}}</td>
            <td><img [src]="article2.image" [alt]="article2.name"></td>
        </tr>
        <tr>
            <td>{{article3.name}}</td>
            <td>{{article3.type}}</td>
            <td>{{article3.price}}</td>
            <td>{{article3.stock}}</td>
            <td><img [src]="article3.image" [alt]="article3.name"></td>
        </tr>
        <tr>
            <td>{{article4.name}}</td>
            <td>{{article4.type}}</td>
            <td>{{article4.price}}</td>
            <td>{{article4.stock}}</td>
            <td><img [src]="article4.image" [alt]="article4.name"></td>
        </tr>
    </tbody>
</table>
