<table class="table">
    <thead>
        <tr>
            <th scope="col">Imágen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles" [ngClass]="{'clearance': article.clearance}">
            <td><img [src]="article.image" [alt]="article.name"></td> 
            <td>{{article.name}}</td>
            <td>{{article.type}}</td>
            <td>{{article.price | currency}}</td>
            <td><span class="badge text-bg-warning" *ngIf="article.stock==0">Sin stock</span></td>
        </tr>
    </tbody>
</table>
