<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand title">{{title}}</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>